header{
    height: 729px;
    width: 1110px;
    background-size: contain;
    background-repeat: no-repeat;
    .nav{
        margin: 0 auto;
        width: 1000px;
        display: flex;
        align-items: center;
justify-content: space-between;
        border-bottom: 1px solid rgb(255, 255, 255);
        
        .menu{
            margin-left: -400px;
            display: flex;
            width: 300px;
            justify-content: space-between;
            .menu__link{
                color: #fff;
                text-decoration: none;
            }
        }
    }
    .header__title{
        margin-top: 100px;
        margin-left: 50px;
        font-family: "Manrope" sans-serif;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 58px;
letter-spacing: 2px;
text-align: left;
color: #fff;
width: 390px;

    }
    .header__text{
        color: #fff;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 25px;
width: 250px;
margin-left: 50px;
    }
    .header__btn{
        background-color: #D87D4A;
height: 50px;
text-decoration: none;
color: #fff;
margin-left: 50px;
display: inline-block;
text-align: center;
padding: 10px;
width: 150px;
&:hover{
    background-color: #FBAF85;

}
    }
}